<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
    <style>
        .btn{
            width: 100px;
            height: 50px;
            border: 2px solid black;
            margin-bottom: 10px;
        }

        .clr{
            background-color: red;
        }

        .addAll{
            background-color: green;
        }
        .tb{
            margin-top: 10px;
        }

        *{
        user-select: none;
        }


        th:hover{
            background-color: lightblue;
            cursor:pointer;
        }
    </style>
</head>
<body>

<!--
      Sortirovka

      1) Back-end
      2) Front-end
-->
<!--<h1>Hello World Home</h1>-->

<a class="btn clr" href="http://localhost:8080/home/clear">Clear</a>
<a class="btn addAll" href="http://localhost:8080/home/addAll">Add All</a>
<a class="btn add" href="http://localhost:8080/home/add/">Add</a>

<div id="peopleTable" class="tb" th:if="${people!=null and !people.isEmpty()}">
    <table border="1">
       <thead>
            <tr>
                <th onclick="sortTable(0)">Id</th>
                <th onclick="sortTable(1)">Name</th>
                <th onclick="sortTable(2)">Surname</th>
                <th onclick="sortTable(3)">Age</th>
            </tr>
       </thead>
       <tbody>
            <tr th:each="person : ${people}">
                <td th:text="${person.getId()}"></td>
                <td th:text="${person.getName()}"></td>
                <td th:text="${person.getSurname()}"></td>
                <td th:text="${person.getAge()}"></td>
            </tr>
       </tbody>
    </table>
</div>


<div th:if="${people==null or people.isEmpty()}">
    <p>No data</p>
</div>
<script>
    function sortTable(index) {
        // let table = document.getElementById('peopleTable');
        let body = document.getElementsByTagName('tbody')[0];
        let rows = Array.from(body.getElementsByTagName('tr'));
        console.log(rows)


      let sortedRows = rows.sort((rowA,rowB) => {
            let cellA = rowA.cells[index].innerText.toLowerCase();
            let cellB = rowB.cells[index].innerText.toLowerCase();

            if (!isNaN(cellA) && !isNaN(cellB)){
                return Number(cellA) - Number(cellB);
            }

            return cellA.localeCompare(cellB);

        });

        sortedRows.forEach(row=>{
            body.appendChild(row);
        })
    }
</script>

</body>
</html>
