<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Create person</h1>
<!--<div th:if="${messages!=null}">-->
<!--    <h3 th:text="${messages}"></h3>-->
<!--</div>-->
<form method="post" th:action="@{/home/create}" th:object="${person}">

    <div th:if="${#fields.hasErrors()}">
        <ol>
            <li class="err" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ol>
    </div>


    Name : <input type="text" th:field="*{name}">
    <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br>
    Surname : <input type="text" th:field="*{surname}">
    <span style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
    <br>
    Email : <input type="text" th:field="*{email}">
    <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br>
    Age : <input type="number" th:field="*{age}">
    <span style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br>

    <button type="submit">Save</button>
    <a th:href="@{/home/people}">Cancel</a>
</form>


</body>
</html>
